@font-face {
    font-family: "Roboto-Regular";
    src: url('./fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg'),
    url('./fonts/Roboto-Regular/Roboto-Regular.eot'),
    url('./fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body,html {
    margin: 0;
    padding: 0;
}

.bitrix24-learning-bot {
    background-color: #f1f2f9;
    font-family: Roboto-Regular;
    min-height: 100vh;
    padding-top: 100px;
}

.bot-header {
    text-align: center;
    padding:15px 0 15px;
    box-sizing: border-box;
    background-color: #17568c;
    color: #fff;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}

.bot-header h1{
    padding: 2px 0 5px;
    margin: 0;
}

.bot {
    margin: 0 auto;
    max-width: 700px;
}

.bot__logo {
    width: 32px;
    height: 32px;
}

.box {
    padding-bottom: 150px;
    border-bottom: 5px solid red;
}

.box__message {
    background-color: #fff;
    padding: 15px 30px;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 30px;
    color: rgba(0,0,0,0.9);
    display: inline-block;
}

.bot__buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bot__button {
    display: inline-block;
    border: 2px solid #61dafb;
    color: #61dafb;
    border-radius: 30px;
    background-color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
}

.bot__button:hover {
    background-color: rgba(204,204,204, .1);
}

.bot__button:active {
    background-color: rgba(204,204,204, .5);
}