@font-face {
    font-family: "Roboto-Regular";
    src: url('./fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg'),
    url('./fonts/Roboto-Regular/Roboto-Regular.eot'),
    url('./fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body,html {
    margin: 0;
    padding: 0;
}

.bitrix24-learning-bot {
    background-color: #f1f2f9;
    font-family: Roboto-Regular;
    min-height: 100vh;
}

.bot-header {
    text-align: center;
    padding:1px 0 0;
    box-sizing: border-box;
}

.bot {
    margin: 0 auto;
    max-width: 700px;
}

.box__message {
    background-color: #fff;
    padding: 15px 30px;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 30px;
}

.bot__buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bot__button {
    display: inline-block;
    border: 2px solid #61dafb;
    color: #61dafb;
    border-radius: 30px;
    background-color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px #61dafb;
    margin-right: 15px;
}

.bot__button:active {
    box-shadow: 1px 1px 1px #61dafb;
}